<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>com.nathansbud.monitorrent</string>
		<key>Program</key>
		<string>/Users/zackamiton/Code/PythonNonsense/MoniTorrent/monitor.py</string>
		<key>ProgramArguments</key>
		<array>
		    <string>/usr/local/bin/python3.7</string>
			<string>/Users/zackamiton/Code/PythonNonsense/MoniTorrent/monitor.py</string>
		</array>
		<key>StandardOutPath</key>
		<string>/Users/zackamiton/Code/PythonNonsense/MoniTorrent/logfiles/monitorrent.log</string>
		<key>StandardErrorPath</key>
    	<string>/Users/zackamiton/Code/PythonNonsense/MoniTorrent/logfiles/monitorrent.err</string>
        <key>WatchPaths</key>
        <array>
            <string>/Users/zackamiton/Documents/Torrents/SoulSeek Downloads</string>
        </array>
	</dict>
</plist>

