<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>com.nathansbud.lyricbot</string>
		<key>Disabled</key>
		<true/>
		<key>Program</key>
		<string>/Users/zackamiton/Code/TuneParser/lyricbot.py</string>
		<key>StartInterval</key>
		<integer>86400</integer>
		<key>WorkingDirectory</key>
		<string>/Users/zackamiton/Code/TuneParser/</string>
	</dict>
</plist>