<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>com.nathansbud.wikipedaily</string>
		<key>Program</key>
		<string>/Users/zackamiton/Code/Wikipedaily/main.py</string>
		<key>StartInterval</key>
		<integer>86400</integer>
		<key>StandardOutPath</key>
		<string>/Users/zackamiton/Code/Wikipedaily/logfiles/wikipedaily.log</string>
		<key>StandardErrorPath</key>
    	<string>/Users/zackamiton/Code/Wikipedaily/logfiles/wikipedaily.err</string>
		<key>WorkingDirectory</key>
		<string>/Users/zackamiton/Code/Wikipedaily/</string>		
	</dict>
</plist>